[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pillow = "*"
python-dotenv = "*"
pyunsplash = "*"
python-frontmatter = "*"

[dev-packages]
jupyterlab = "*"
mkdocs-jupyter = "*"
mkdocs = "*"
ipython = "*"

[requires]
python_version = "3.7"

[scripts]
dev = "jupyter-lab"
